
/*.header {
  font-size: 100px;
  text-align: center;
  border-bottom-style: solid;
  border-top-style: solid;
  background-color: rgb(12, 143, 12);
  border-radius: 10px;
  width: 95%;
  float: center;
  }*/

.table1 {
  font-size: 25px;
  text-decoration-color: white;
  border-bottom-style: double;
  border-top-style: double;
  border-left-style: double;
  border-right-style: double;
  background-color: cornsilk;
}
.table2 {
    font-size: 25px;
    text-decoration-color: white;
    border-bottom-style: double;
    border-top-style: double;
    border-left-style: double;
    border-right-style: double;
    background-color: cornsilk;
  }
  ::placeholder {
    color: black;
   /* box-shadow: inset 0 0 9px 4px black;*/
   text-align: center;
  ;
}
.btn {
  background-color: rgba(0,0,0,0.42);
}

a {
  color:rgb(9, 9, 134);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#user-input {
    font-size: 25px;
    /* text-shadow: 0 0 0px black; */
    color: #333;
    text-align: center;
}


.tableHolder {
 /* border-bottom: 1px solid rgba(0,0,0,0.12); */
  margin-top: 10px;
  color: #333;
  /*background-color: rgba(0,0,0,0.14);*/
  font-size: 20px;
  font-family: 'Abril Fatface', cursive;
  word-wrap: break-word;
  
}

.ingrTableHolder {
  /* border-bottom: 1px solid rgba(0,0,0,0.12); */
  margin-top: 10px;
  color: #333;
  /*background-color: rgba(0,0,0,0.14);*/
  font-size: 20px;
  font-family: 'Abril Fatface', cursive;
  word-wrap: break-word;
}
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

h1 {
  font-size: calc(10px + 10vh);
  line-height: calc(10px + 10vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}



@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
