
.header {
  font-size: 100px;
  text-align: center;
  border-bottom-style: solid;
  border-top-style: solid;
  background-color: rgb(12, 143, 12);
  border-radius: 10px;
  width: 100%;
  padding-left: 25px;
  }

.table1 {
  font-size: 25px;
  text-decoration-color: white;
  border-bottom-style: double;
  border-top-style: double;
  border-left-style: double;
  border-right-style: double;
  background-color: cornsilk;
}
.table2 {
    font-size: 25px;
    text-decoration-color: white;
    border-bottom-style: double;
    border-top-style: double;
    border-left-style: double;
    border-right-style: double;
    background-color: cornsilk;
  }
  ::placeholder {
    color: black;
   /* box-shadow: inset 0 0 9px 4px black;*/
   text-align: center;
  ;
}
.btn {
  background-color: rgba(0,0,0,0.42);
}

#user-input {
    font-size: 25px;
    /* text-shadow: 0 0 0px black; */
    color: #333;*
    text-align: center;
}
tr {
  border-bottom: 1px solid rgba(0,0,0,0.12);
  color: #333;
  background-color: rgba(0,0,0,0.14);
  font-size: 20px;
}
